.header {
  background-color: #fdf6ee;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.logo {
  font-weight: bold;
  font-size: 10px;
  color: #3a2e2e;
}
nav a {
  margin-left: 1.5rem;
  color: #5a3e2b;
  font-size: 14px;
}
